**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
str=input()
print(len(str))

In [ ]:
str=input()
counter=0
for i in str:
    counter+=1
print(counter)

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
str=input()
counter=0
for i in str:
    counter+=1
print(counter)

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
name=input()
if len(name)<3:
    print(name)
else:
    if name[-3:]=="ing":
        print(name+"ly")
    else:
        print(name+"ing")

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [4]:
mylist=["ahmed","mohamed","ali","amr","abd el rahman"]
def returnlist():
    counter=0
    maxword=None
    for word in mylist:
        if len(word)>counter:
            counter=len(word)
            maxword=word
    return counter,maxword

In [5]:
returnlist()

(13, 'abd el rahman')

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [7]:
name=input()
print(name[-1]+name[1:-1]+name[0])

ehab
bhae

In [8]:
name=input()
a=name[-1]
b=name[1:-1]
c=name[0]
print(a+b+c)

farah
haraf

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [9]:
name=input()
name[0::2]

java

'jv'

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [10]:
info="my name is farah , i love my mom , my mom is my friend , i learn python"
info=info.split()
for i in info:
   print(i,info.count(i))

my 4
name 1
is 2
farah 1
, 3
i 2
love 1
my 4
mom 2
, 3
my 4
mom 2
is 2
my 4
friend 1
, 3
i 2
learn 1
python 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [11]:
name=input()
print(name.upper())
print(name.lower())

farah anwar sadek
FARAH ANWAR SADEK
farah anwar sadek

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [12]:

name=input()
if len(name)%4==0:
    print(name[::-1])
else:
    print("no")

asma
amsa

**10- Write a Python program to remove a newline in Python

In [13]:
sry='''farah
anwar
sadeq'''
sry=sry.replace("\n","")
sry

'farahanwarsadeq'

**11-Write a Python program to check whether a string starts with specified characters

In [14]:
word=input()
ch='f'
if word.startswith(ch):
     print(word)
else:
    print("no")

fady
fady

In [15]:
word=input()
if word[0]=="a":
    print(word)
else:
    print("no")

saaed
no

**12- Write a Python program to add prefix text to all of the lines in a string

In [18]:
str='''aya
farah
mama'''
str=str.splitlines()
for i in str:
    print("eng"," "+i)

eng  aya
eng  farah
eng  mama

**13-Write a Python program to print the following numbers up to 2 decimal places

In [19]:
num=float(input())
"{:.2f}".format(num)

3.2452

'3.25'

In [22]:
num=float(input())
round(num,2)

5.987

5.99

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
num=float(input())
"{:.2f}".format(num)

**15-Write a Python program to display a number with a comma separator

In [ ]:
num=input()
num.replace(".",",")

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
name=input()
name[::-1]

In [23]:
name=input()
"".join(reversed(name))

shady

'ydahs'

In [24]:
name=input()
"".join(i for i in reversed(name))

hamed

'demah'

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [25]:
name="farah anwar"
chs=[]
for i in name:
    chs.append(i)
print(chs)

['f', 'a', 'r', 'a', 'h', ' ', 'a', 'n', 'w', 'a', 'r']

In [26]:
myd={}
for i in chs:
    myd[i]=chs.count(i)
myd

{'f': 1, 'a': 4, 'r': 2, 'h': 1, ' ': 1, 'n': 1, 'w': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [27]:
name="aabbccrgd"
for i in name:
    if name.count(i)==1:
        print(i)
        break

r

**19-Write a Python program to remove spaces from a given string

In [28]:
name="farah anwar"
name=name.replace(" ","")
name

'farahanwar'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [34]:
srt=input()
x=len(srt)
print(x*(x+1)/2)

farah
15.0

**21-write a Python program to swap first and last element of any list.

In [35]:
l=["farah","dede",'ali',"ahmed"]
l[0],l[-1]=l[-1],l[0]
l

['ahmed', 'dede', 'ali', 'farah']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [38]:
list=[7,9,5,3,2,0]
pos1=int(input())
pos2=int(input())
list[pos1],list[pos2]=list[pos2],list[pos1]
list

2
3

[7, 9, 3, 5, 2, 0]

**23- search for the all ways to know the length of the list

In [39]:
l=["farah","dede",'ali',"ahmed"]
len(list)

6

In [40]:
l=["farah","dede",'ali',"ahmed"]
counter=0
for i in l:
    counter+=1
print(counter)

4

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [41]:
max([75,58,115,73,29,60])

115

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [42]:
min([117,90,54,39,28,50])

28

**26-search for if an elem is existing in list

In [43]:
g=["farah","manar","gamal","omar"]
if g.count(input())==0:
    print("not found")
else:
    print('found')

farah
found

In [45]:
g=["farah","manar","gamal","omar"]
str=input()
if g.count(str)==0:
    print("not found")
else:
    print('found')

gamal
found

**27- clear python list using different ways

In [50]:
g=["farah","manar","gamal","omar"]
g.clear()
g

[]

In [49]:
g=[117,90,54,39,28,50]
while len(g) != 0:
    g.pop()
g

[]

In [48]:
l=[4,7,97,3,98,1]
l=[]
l

[]

**28-remove duplicated elements from a list

In [146]:
l=["farah","ahmed","farah","aya"]
l=set(l)
l=list(l)
print(l)

TypeError: 'list' object is not callable

In [52]:
list=["farah","ahmed","farah","aya"]
l=[]
for i in list:
    if i not in l:
        l.append(i)
print(l)

['farah', 'ahmed', 'aya']

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [59]:
list = ["Gfg", 3, "is", 8, "Best", 10, "for", 18, "Geeks", 33]
 
key_list = ["name", "number"]

n = len(list)
res = []
for i in range(0, n, 2):
    res.append({key_list[0]: list[i], key_list[1] : list[i + 1]})
 
print(res)

[{'name': 'Gfg', 'number': 3}, {'name': 'is', 'number': 8}, {'name': 'Best', 'number': 10}, {'name': 'for', 'number': 18}, {'name': 'Geeks', 'number': 33}]

**30-write a python program to count unique values inside a list using different ways

In [60]:
l=[3,4,3,5,3,2,6,5]
l=set(l)
l=len(l)
l

5

In [63]:
l=[3,4,3,5,3,2,6,5]
newl=[]
counter=0
for i in l:
    if i not in newl:
        newl.append(i)
print(newl)
for i in newl:
    counter+=1
print(counter)

[3, 4, 5, 2, 6]
5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [67]:
list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
j=[]
for i in list:
    if list.count(i)>3:
        j.append(i)

j=set(j)
j=list(j)
print(j)

TypeError: 'list' object is not callable

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [77]:
l=[1,2,2,3,4,5]
for i in range(1,len(l)):
    m=max(l[i],l[i-1])
    print (m,end=' ')

2 2 3 4 5

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [82]:
l=[1, 2, 3] 
a=input()
b=input()
c=input()
d=[]
d.append(a)
d.append(b)
d.append(c)
for i in range(3):
    for j in range(3):
        for k in range(3):
            if i!=j and j!=k and i!=k:
                print(d[i],d[j],d[k])

6
8
9
6 8 9
6 9 8
8 6 9
8 9 6
9 6 8
9 8 6

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [140]:
import copy
 
def combinations(target, data):
 
    for i in range(len(data)):
 
        new_lis = copy.copy(target)
        new_data = copy.copy(data)
        new_lis.append(data[i])
        new_data = data[i+1:]
 
        print(new_lis)
 
        combinations(new_lis,new_data)
 
 
target = []
data = [1, 2, 3]
 
combinations(target, data)

[1]
[1, 2]
[1, 2, 3]
[1, 3]
[2]
[2, 3]
[3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [96]:
list_1 = ["a","b"]
list_2 = [1,2]
 
l= []
 
for i in range(len(list_1)):
    for j in range(len(list_2)):
       l.append((list_1[i], list_2[j]))
 
print(l)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [99]:
list=[1,1,2,3,4,5,1,2,1]
l=[]
for i in  list:
    if list.count(i)==1:
        print(i,end=" ")

3 4 5

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [101]:
l=['Gfg', 'is', 'best'] 
l2=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
l3=[l[i] for i in l2]
print(l3)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [102]:
l=[(4, 5, 5, 4), (5, 4, 3)]
k=5
n=2
j=[]
import operator
for i in l :
    if operator.countOf(i,k)==n:
        j.append(i)
j

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [145]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]] 
for i in range(len(array)):
    sorted_array =sorted(array, key=lambda x: x[i])
    print("{}:".format(i),sorted_array)

0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [115]:
p={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
for i in sorted(p):
    print((i,p[i]),end=" ")
p=dict(p)
p

('rajnish', 9) ('ravi', 10) ('sanjeev', 15) ('suraj', 32) ('yash', 2)

{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [117]:
myd = {"Gfg" : 3, "is" : 7, "best" : 10, "for" : 6, "geeks" : "CS"}
K = 6
 
res = {key : val for key, val in myd.items() if not (isinstance(val, int) and (val > K))}
         
print(res)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [122]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
d=dict()
for i in dic1:
    d.setdefault(i,dic1[i])
for j in dic2:
    d.setdefault(j,dic2[j])
for k in dic3:
    d.setdefault(k,dic3[k])
print(d)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
myd={"name":"farah","age":20,"num":102085}
for i in myd:
    print(myd)

**44- Write a Python script to merge two Python dictionaries

In [123]:
myd={"name":"farah","age":20,"num":102085}
myd2={"salary":1200,"city":"giza"}
d=dict()
for i in myd:
    d.setdefault(i,myd[i])
for i in myd2:
    d.setdefault(i,myd2[i])
d

{'name': 'farah', 'age': 20, 'num': 102085, 'salary': 1200, 'city': 'giza'}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [124]:
d={"salary":1200,'age':30,"total":76}
print(max(d.values()))
print(min(d.values()))

1200
30

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [125]:
f={'c1': 'Red', 'c2': 'Green', 'c3': 'None'}
f.pop("c3")
f

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [126]:
tuple=(1,5,9,7,6)
tuple[0]

1

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
tuple=("ahmed",'aya',"dog")
tuple=(male,female,animal)
print(male)
print(female)
print(animal)

**49-Write a Python program to add an item to a tuple

In [127]:
l=("ahmed",'aya',"dodo")
l=list(l)
l.append("hashem")
l=tuple(l)
print(l)

TypeError: 'list' object is not callable

**50-Write a Python program to convert a tuple to a string

In [ ]:
set=["f","a","r","a","h"]
str="".join(t)
str

**51-Write a Python program to convert a list to a tuple

In [ ]:
l=["i","u","h"]
l=tuple(l)
l

**52-Write a Python program to reverse a tuple

In [ ]:
t=(3,8,6,0,7)
t=list(t)
t.reverse
t=tuple(t)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [130]:
list= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[0:-1] + (100,) for t in list])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [131]:
l=['p', 'y', 't', 'h', 'o', 'n', '3', '.', '0']
l=tuple(l)
l

TypeError: 'tuple' object is not callable

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [132]:
list = [(1, 4, 5), (7, 8), (2, 4, 10)]
sum = 0
for tuple in list:
    for i in tuple:
        sum = sum + i
avg = sum / len(list)
print(avg)
round(avg,3)

13.666666666666666

13.667

**56-Write a Python program to add member(s) to a set.

In [133]:
s={8,9,0,7,6}
s.add(10)
s

{0, 6, 7, 8, 9, 10}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
s={8,9,0,7,6}
s.remove(6)
s

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [134]:
s={8,9,0,7,6}
s1={7,0,4,3,2}
l=s.intersection(s1)
print(l)
a=s.union(s1)
print(a)
b= s.difference(s1)
print(b)
m=s.symmetric_difference(s1)
print(m)

{0, 7}
{0, 2, 3, 4, 6, 7, 8, 9}
{8, 9, 6}
{2, 3, 4, 6, 8, 9}

**59-Write a Python program to find the maximum and minimum values in a set

In [135]:
s1={0, 2, 3, 4, 6, 7, 8, 9}
print(max(s1))
print(min(s1))

9
0

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [137]:
lst = [1, 5, 3, 7, 9]
target = 12
n=[]
for i in range(len(lst)):
    for j in range (i+1,len(lst)):
        if lst[i]+lst[j]==target:
            n.append((lst[i],lst[j]))
print(n)

[(5, 7), (3, 9)]